body {
    background: royalblue;
}

h1 {
    color: black;
}

h1.ui {
    color: royalblue;
}

p {
    color: white;
}



.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.center {
    text-align: center;
}

.anonymous {
    background-color: black;
    border: 4px solid white;
    border-radius: 5px;
}